.mdl-layout__header {
  height: 20vh;
}
.background {
  height: 210% !important;
  /* background-image: url("flag1.jpg");
  background-size: cover;
  background-repeat: repeat-y !important;  */
}
#b1{
  height: 250% !important;
}
.blog-card {
  margin: auto;
  width: 50% !important;
  min-height: 150px !important;
  margin-bottom: 3vh;
}
.centered-image {
  width: 20vw;
  margin: auto;
  display: block;
}
/* .first-half {
  max-width: 40% !important;
  display: inline-block;
}*/
.second-half {
  max-width: 15vw !important;
  max-height: 15vw !important;
  /*margin-top: -20%;
  position: relative;
  left: 70%;*/
}
.float-right-cell {
  float: right;
}
.grid-override {
  margin: 0px !important;
  padding: 0px !important;
}
.ribbon {
  height: 20vh;
  background-color: #03a9f4;
}
.post {
  margin-top: -10vh !important; 
  width: 80% !important;
  background-color: white;
}
#blogcard0 {
  margin-top: -10vh;
}
#star1 {
  max-width: 20px;
  padding-left: 5px;
}
#star2 {
  max-width: 1250px;
}